*:not(.fa):not(.glyphicon):not(.mce-ico){
  font-family: 'Open Sans', sans-serif !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
footer {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
}

body > .container{
  margin-top: 2em;
  margin-bottom: 10em;
}

form.form-default{
  background-color: #f5f6f7;
  border: 1px solid rgba(220, 220, 220, 1);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2em;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(0,0,0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0,0,0, 0.6);
  outline: 0 none;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {   
  border-color: #cccccc;
}

.error:focus{   
  border-color: rgba(255, 0, 0, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6) !important;
  outline: 0 none !important;
}
.error::-webkit-input-placeholder {
   color: red !important;
}

.error:-moz-placeholder { /* Firefox 18- */
   color: red !important;  
}

.error::-moz-placeholder {  /* Firefox 19+ */
   color: red !important;  
}

.error:-ms-input-placeholder {  
   color: red !important;  
}
.error{
  border: 1px solid red !important;
}

table.table-default th:last-child{
  width: 13em;
}
table.table-default td:last-child{
  text-align: center;
  width: 13em;
}
table.table-default{
  background: rgba(220, 220, 220, 0.5);
}

.btn.btn-system{
  background-color: rgb(0,0,0) !important;
  border-color: rgb(0,0,0) !important;
  color: #fff;
}

section.panel{
  border-color: #e3e8ed;
  background-color: #f5f6f7;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 0.5em
}

section.panel > .panel-body > a:hover{
  opacity: 0.8 !important;
  border: 1px solid rgba(0,0,0, 1) !important;
}

.line{
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
  background-color: #f5f6f7;
  border-width: 0;
  border-top: 1px solid #e0e4e8;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 2;
  border-radius: 35px;
}
.btn-control-image{
  cursor:pointer; 
  text-align: center;
}
.btn-control-image:hover{
  opacity: .75;
}
.btn-control-image > h1{
  font-size: 5em;
}

.btn-control-image.btn-remover{
  margin-top: 1em;
}
.img-container > #imagemCrop{
  max-width: 100%;
}